body{
    background: linear-gradient(to right,blueviolet,pink);

}
h1{
   
    color: rgba(255, 255, 255, 0.4);
    font-weight: 10px;
    padding-top: 10px;
    margin-left: 40px ;
    margin-bottom: 35px;
}
.heading{
    height: 60px;
    background: linear-gradient(to right, rgb(172, 113, 228), blueviolet,rgb(172, 113, 228));
    width: 500px;
}

.card{
    margin: auto;
    margin-top: 35px;
    height: 750px;
    width: 500px;
    background: linear-gradient(to right,blueviolet,pink);
    padding-top: 20px;
    padding-left: 70px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgb(122, 71, 170);
}
input{
    height: 40px;
    width: 400px;
    background: transparent;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    color:rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    
}
label{
    color: rgba(255, 255, 255, 0.4);
    font-size: 30px;
}
button{
    padding: 10px 100px;
    margin-left: 30px;
    border-radius: 10px;
    color:rgba(255, 255, 255, 0.3);
    font-size: 30px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 1px 1px 1px 1px rgb(122, 71, 170);
}
button:hover {
    color: white;
}